---
layout: page
description: "Kaiyuan Chen | UCLA 2020er"
---

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <h2 id="shortbio">Short Bio</h2>

    <p>I am <strong>Kaiyuan Chen</strong>, a third-year undergraduate student from University of California, Los Angeles. Now I am working in <a href="http://metro.ucla.edu">Wireless Networking Group (WiNG)</a> at UCLA and my adviser is <a href="http://web.cs.ucla.edu/~yuanjie.li/">Yuanjie Li</a>.</p>

    <p>My general interest is very broad. I study anything related to machine learning, artificial intelligence and big data, especially for anomaly detection and compressed sensing. I am also interested in computer network and bioinformatics. </p>  

    <p>You can find my CV <a href="https://keplerc.github.io/Resume.pdf">here</a></p>


    <h2 id="presentations">Presentations</h2>
        <p><a href="http://kychen.xyz/presentation/qoe.pdf">QoE-aware Machine Learning</a>
        <a href="http://kychen.xyz/presentation/missingvalue.pdf">Missing Data Completion</a>
        <a href="http://kychen.xyz/presentation/sampling.pdf">Sampling</a>
        <a href="http://kychen.xyz/presentation/novelty.pdf">Novelty Detection</a></p>
    <h2 id="listofblogs">List of Blog Posts</h2>
</div>


{% for post in paginator.posts %}

<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h5 class="post-title">
            {{ post.title }}
        </h5>
    </a>
    <p class="post-meta">
        {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}