---
layout: page
description: "Kaiyuan Chen | UCLA"
---

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <h2 id="shortbio">Short Bio</h2>

    <p>I am <strong>Kaiyuan Chen</strong>, a third-year undergraduate student from University of California, Los Angeles(UCLA). Now I am working in <a href="http://metro.cs.ucla.edu">Wireless Networking Group (WiNG)</a> at UCLA.</p>

    <p>My general interest is very broad. I study anything related to machine learning, artificial intelligence and big data, especially for anomaly detection and compressed sensing. I am also interested in computer network and bioinformatics. </p>  

    <p>You can find my CV(ver. 2017, hopefully I will finish writing my CV for this year before it ends!) <a href="https://keplerc.github.io/Resume.pdf">here and <a href="https://scholar.google.com/citations?user=hOfqE9sAAAAJ&hl=en">Google Scholar </a></p> 
    


    <h2 id="presentations">Publications</h2>
       <!--
    <li> <p> <a href="(address)">name</a>
        <br> (author names) <i>in (conference name, place)</i>, (year).</p>
    -->
    <p> <a href="https://www.maa.org/programs/students/undergraduate-research/past-sessions-winners">Recommender Framework for Lyme Disease Treatments</a> [Abstract]
        <br> <b> Kaiyuan Chen</b> , Rong Huang, Diyi Liu, Catherine Wahlenmayer, Jiewen Wang  <i>in Joint Mathematics Meetings by Mathematical Association of America, Baltimore</i>, 2019.</p>
    
    <p> <a href="http://keplerc.com/presentation/CSC.pdf">Confidence Segmentation Convolution Neural Network</a> [Oral]
            <br> <b>Kaiyuan Chen</b> , Jingyue Shen, Fabien Scalzo<i>in International Symposium on Visual Computing (ISVC), Las Vegas</i>, 2018.</p>

    <p> <a href="https://ieeexplore.ieee.org/abstract/document/8365986">A Visual Analytics Approach for Equipment Condition Monitoring in Smart Factories of Process Industry</a> [Poster]
        <br> Wenchao Wu, Yixian Zheng, <b> Kaiyuan Chen</b> , Xiangyu Wang, Nan Cao <i>in PacificVis, Kope Japan</i>, 2018.</p>

    <h2 id="presentations">News</h2>
    <p>Nov 2018: New version of ClassUCLA is online, please find it in <a href="http://c.keplerc.com">here.</a></p>
    <p>Nov 2018: Rocommender Framework abstract is accepted. Going to Baltimore early 2019. </p>
    <p>August 2018: Done with UCLA Math REU 2018! Thanks <a href="https://www.math.ucla.edu/~deanna/">Prof. Needell.</a></p>
</div>

<!--
{% for post in paginator.posts %}

<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h5 class="post-title">
            {{ post.title }}
        </h5>
    </a>
    <p class="post-meta">
        {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}

{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}

-->


